@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

body {
    height: 100%;
    margin: 0;
    font-family: "Noto Sans TC", sans-serif;
}

/* 導覽列樣式 */
header {
    height: 120px;
    background-color: #FFC619;
}

.main-header {
    display: flex;
    margin: auto;
}

.nav-item span {
    font-size: 30px;
    color: white;
}

nav {
    background-color: #FFC619;
}

.title {
    text-align: center;
}

.main-content .main-title {
    font-size: 10vh;
    font-weight: 700;
    margin-bottom: 0;
}

.main-content .sub-title {
    font-size: 3vh;
    font-weight: 700;
    margin-bottom: 0;
}


/* 表單樣式 */
.q-title {
    text-align: center;
}

.q-title .front {
    font-size: 6rem;
    color: black;
}

.q-title .back {
    font-size: 2rem;
    color: black;
}

.q-title p {
    font-size: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form .form-group {
    width: 100%;
    max-width: 400px; /* 可調整的最大寬度 */
}


/* Q2 Part */
.ratio-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.ratio-group .ratio-option {
    flex: 1;
    display: flex;
    justify-content: center;
}

.ratio-group .ratio {
    display: none;
}

.bt {
    padding: 15px 10px;
    width: 100%;
    margin: 5px;
    background-color: #FFFFFF;
    color: #000000;
    text-align: left;
    border: 2px solid #D9D9D9;
    border-radius: 7px;
    transition: background-color 0.3s, color 0.3s;
}

.bt:hover {
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    background-color: #D9D9D9;
    color: #000000;
}

#male:checked ~ .male,
#female:checked ~ .female {
    background-color: #FFC619;
    color: #000000;
    border: none;
}

.bt span {
    font-size: 0.9rem;
    color: #000000;
    background-color: #fff;
    border-radius: 50%;
    padding: 5px 10px;
}

/*Q4 Part*/
.ratio-line{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ratio-line  .ratio {
    display: none;
}

.ratio-line .ratio-option{
    display: flex;
    padding: 10px;
}

.ratio-line .line-tag{
    text-align: center;
    font-size: 1.5rem;
    padding-left: 10px;
}

.ratio-line .a1,
.ratio-line .a5{
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.ratio-line .a2,
.ratio-line .a4{
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.ratio-line .a3{
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;  
}

.ratio-line .b1,
.ratio-line .b5{
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.ratio-line .b2,
.ratio-line .b4{
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.ratio-line .b3{
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;  
}

#b1:checked ~ .b1,
#b2:checked ~ .b2,
#b3:checked ~ .b3,
#b4:checked ~ .b4,
#b5:checked ~ .b5{
    background-color: #FFC619;
    color: #000000;
    border: none;
}

#a1:checked ~ .a1,
#a2:checked ~ .a2,
#a3:checked ~ .a3,
#a4:checked ~ .a4,
#a5:checked ~ .a5{
    background-color: #FFC619;
    color: #000000;
    border: none;
}

/*Q5 Part*/
.select-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.select-btn{
    display: flex;
    align-items:    center;
    padding: 15px 10px;
    border-radius: 7px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1)
}

.select-btn .select-text{
    font-size: 1rem;
    color: #D9D9D9;
}

.select-btn .arror-right{
    display: flex;
    padding: 0 20px;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

/*Horizontal line*/
.hr {
    margin: 30px;
    border: 1px solid black;
}


/*Q6 Part*/

/*Q7 Part*/
.ratio-line .c1,
.ratio-line .c5{
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.ratio-line .c2,
.ratio-line .c4{
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.ratio-line .c3{
    text-align: center;
    width: 33px;
    height: 30px;
    border-radius: 50%;  
}


#c1:checked ~ .c1,
#c2:checked ~ .c2,
#c3:checked ~ .c3,
#c4:checked ~ .c4,
#c5:checked ~ .c5{
    background-color: #FFC619;
    color: #000000;
    border: none;
}

/* 頁尾樣式 */
footer {
    background-color: #FFC619;
    color: #fff;
}